<h3>Alunos</h3>

<div class="row">
  <div class="col s6">
    <ul class="collection">
      <li *ngFor="let aluno of alunos" class="collection-item">
        <div>
          <a [routerLink]="[aluno.id]" [textContent]="aluno.nome"></a>
          <a [routerLink]="[aluno.id + '/excluir']" class="secondary-content"><i class="material-icons">delete</i></a>
        </div>
      </li>
    </ul>
  </div>

  <div class="col s6">
    <router-outlet></router-outlet>
  </div>
</div>


<div class="fixed-action-btn">
  <a (click)="addAluno()" class="btn-floating btn-large waves-effect waves-light red" title="Adicionar Aluno"><i class="material-icons">add</i></a>
  <!-- <a  class="btn-floating btn-small waves-effect waves-light blue" title="Editar Aluno"><i class="material-icons">edit</i></a> -->
</div>
