<div class="row">
  <div class="input-field col s12">
    <input type="text" placeholder="ID" readonly [value]="aluno?.id">
    <label class="active" for="first_name">ID</label>
  </div>

  <div class="input-field col s12">
    <input type="text" placeholder="Nome" readonly [value]="aluno?.nome">
    <label class="active" for="first_name">Nome</label>
  </div>

  <div class="input-field col s12">
    <input type="email" placeholder="E-mail" readonly [value]="aluno?.email">
    <label class="active" for="email">E-mail</label>
  </div>
</div>

<button class="btn waves-effect waves-light" (click)="editarAluno()">Editar</button>
