<div class="row">
  <div class="input-field col s12">
    <input type="text" placeholder="ID" readonly [value]="aluno?.id">
    <label for="first_name">ID</label>
  </div>

  <div class="input-field col s12">
    <input type="text" placeholder="Nome" readonly [value]="aluno?.nome">
    <label for="first_name">Nome</label>
  </div>

  <div class="input-field col s12">
    <input type="email" placeholder="E-mail" readonly [value]="aluno?.email">
    <label for="email">E-mail</label>
  </div>
</div>

<button class="btn waves-effect waves-light" (click)="editarAluno()">Editar</button>

<div class="fixed-action-btn">
  <a (click)="addAluno()" class="btn-floating btn-large waves-effect waves-light red" title="Adicionar Aluno"><i class="material-icons">add</i></a>
  <!-- <a  class="btn-floating btn-small waves-effect waves-light blue" title="Editar Aluno"><i class="material-icons">edit</i></a> -->
</div>