<div class="row">
    <div class="col s6">
        <h3>Cursos</h3>

        <div class="collection">
            <a [routerLink]="['/cursos', curso.id]" class="collection-item" *ngFor="let curso of cursos">{{ curso.nome | cursoNome }}</a>
        </div>
    </div>

    <div class="col s6">
        <!-- <router-outlet></router-outlet>     -->
    </div>
</div>
<br>

<ul class="pagination">
    <li [ngClass]="{disabled: pagina.btnVoltar?.disabled, 'waves-effect': !pagina.btnVoltar?.disabled }"><a (click)="voltarPagina()" title="Página anterior"><i class="material-icons">chevron_left</i></a></li>
    <li [ngClass]="{active: pagina.numero == num , 'waves-effect': pagina.numero != num }" *ngFor="let num of pagina.getPaginas()"><a routerLink="/cursos" [queryParams]="{ pagina: num }" title="Ir para página {{ num }}">{{ num }}</a></li>
    <li [ngClass]="{disabled: pagina.btnProximo?.disabled, 'waves-effect': !pagina.btnProximo?.disabled }"><a (click)="proximaPagina()" title="Próxima página"><i class="material-icons">chevron_right</i></a></li>
</ul>

<p>
    Página atual: {{ pagina.numero }} - Repetição: <span *ngIf="pagina.repeat">At</span><span *ngIf="!pagina.repeat">Desat</span>ivado.
</p>

<button class="btn waves-effect waves-light" (click)="pagina.repeat = !pagina.repeat">
    <span *ngIf="pagina.repeat">Desativar</span>
    <span *ngIf="!pagina.repeat">Ativar</span>
    ciclo
</button>
